.about_me ul li{

	float: left;
	width: 100%;



}

.hello{


font-family: 'osanslight';
    font-size: 32px;
}

.name{

	font-size: 36px;
	 

}

 

.desc{

font-family: 'osanslight';
font-size: 13px;


}


.msg{



}


.think{


 border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 -1px rgba(5, 10, 31, 0.2);
    font-family: 'SemiboldItalic';
    font-size: 15px;

}

/*--------------------------------------- */
/* RESPONSIVE DESIGN */


/* SUPER PANTALLAS  */
/* ********************************************************** */
/* ********************************************************** */
/* ********************************************************** */
/* ********************************************************** */
@media screen and (min-width: 1400px) and (max-width: 5500px) {
/*Todo lo que añadamos aquí se utilizará solo en
 resoluciones X, donde 700px<=X<=1000px*/

 .name{

	font-size: 56px;
	 

}


.desc{


font-size: 15px;


	}

}
/* ********************************************************** */
/* ********************************************************** */
/* ********************************************************** */
/* ********************************************************** */
/* IPAD */
 