.about_me ul li{

	float: left;
	width: 100%;



}

.about_me {
 
   float: left;
    height: auto;
    margin-top: 50px;
    overflow-y: auto;
    width: 100%;
}



.about_me > ul {
 
    float: left;
    height: auto;
    overflow: hidden;
    width: 41%;
}

.hello{


font-family: 'osanslight';
    font-size: 32px;
}

.name{
  color: white;
    font-size: 36px;
    padding-bottom: 25px;
    padding-top: 32px;
    width: 495px !important;
}
 

.desc{

font-family: 'osanslight';
font-size: 13px;


}


.msg{



}


.think{


 border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 -1px rgba(5, 10, 31, 0.2);
    font-family: 'SemiboldItalic';
    font-size: 15px;

}

 