.hand > nav {
   margin: 109px auto ;
    overflow-y: auto;
    width: 39% !important;
}

.apps{
	
display: none;
 float: left;
    height: 47px;
    overflow: hidden;
    width: 24px;
    	text-align: center;

}

.apps span{
	font-size: 11px;

}


.apps img:hover{

	cursor: pointer;

 
}




.apps img:active{

	cursor: pointer;
	opacity: .8;
}

/* RESPONSIVE DESIGN */


/* SUPER PANTALLAS  */
/* ********************************************************** */
/* ********************************************************** */
/* ********************************************************** */
/* ********************************************************** */
@media screen and (min-width: 1400px) and (max-width: 5500px) {
 



}
/* ********************************************************** */
/* ********************************************************** */
/* ********************************************************** */
/* ********************************************************** */