
/* ------------------------ MENU  --------------------------------- */



.menu_active{
     font-family: 'osanssemibold';
    text-decoration: underline;
    color: white;
}


section#init_app nav .menu{

	margin-top: 70px;

}


section.hand {
 background: url("/media/img/hand.png") no-repeat scroll 0 0 transparent;
    bottom: 0;
    height: 568px;
    margin-right: -310px;
    position: absolute;
    right: 29%;
    opacity: 0;
    width: 600px;
}
/* ------------------------ END MENU  --------------------------------- */
/* HAND */

/*--------------------------------------- */
/* RESPONSIVE DESIGN */


/* SUPER PANTALLAS  */
/* ********************************************************** */
/* ********************************************************** */
/* ********************************************************** */
/* ********************************************************** */
@media screen and (min-width: 1400px) and (max-width: 5500px) {
 


}
/* ********************************************************** */
/* ********************************************************** */
/* ********************************************************** */
/* ********************************************************** */