<div class="public_data public_data_str">
 
 <ul class="description_data ">
 	<li class="description_data_title">Public project</li>
 	<li class="description_data_text">you should entered password for  instant access </li>
 	<li><a href="free/create">	 <div class="bluebotton start_code">Get started</div></a></li>
 </ul>

</div>


<div class="private data public_data_str">
	
 <ul class="description_data ">
 	<li class="description_data_title">Protected project</li>
 	<li class="description_data_text">you should entered password for  instant access </li>
 	<li>


 		

 		<div class="input_pass">
 			
<input type="text" class="input_fix_password" placeholder="provide your password">
 			<a href="premium/create">	<div class="grayButton">Go</div></a>

 		</div>
 		

 		</li>
 </ul>
</div>