 
<section>
	<ul class="content_skill">

		<span>Front-End </span>

		<li class="skill" data="95">Javascript + AJAX + Jquery Frameworks</li>	

		<li class="skill" data="86">SASS + CSS3 </li>

		<li class="skill" data="84">HTML5 + JADE</li>


		<li class="skill" data="79">Grunt</li>	

		<li class="skill" data="89">Coffescript </li>	

		<li class="skill" data="85">Backbone.js + RequireJS</li>	

 
		<li class="skill" data="100">Passionate about technology + Startup</li>
 


		<li>
				
				<section>
					<span>0%</span>
					 
					<span>100%</span>
				</section>
 
		</li>
	</ul>


		<ul class="content_skill">

			<span>Back-End </span>

 
		<li class="skill" data="77">Python</li>


		<li class="skill" data="69">Django + Frameworks based .py</li>


		<li class="skill" data="60">Git + Github</li>

		<li class="skill" data="75">PHP4/5 POO</li>


		<li class="skill" data="84">Mysql + MongoDB + Mencached + CouchDB </li>


		<li class="skill" data="79">Node.js +  Express + socket.io +  Faye </li>

		<li class="skill" data="49">RabbitMQ + Redis </li>
		
 

		<li>
				
				<section>
					<span>0%</span>
					 
					<span>100%</span>
				</section>
 
		</li>
	</ul>
</section>
 