<section>
	<ul class="content_skill">
		<li class="skill" data="84">CSS + HTML5 + JADE</li>

	
		<li class="skill" data="85">Javascript + AJAX + Jquery Frameworks</li>	


		<li class="skill" data="77">Python</li>


		<li class="skill" data="69">Django + Frameworks based .py</li>


		<li class="skill" data="60">Git + Github</li>

		<li class="skill" data="75">PHP4/5 POO</li>


		<li class="skill" data="84">Mysql + MongoDB + Menchached  </li>


		<li class="skill" data="78">Java + C/C++ Assembly </li>


		<li class="skill" data="75">Node.js +  Express + socket.io</li>


				<li class="skill" data="110">Passionate about technology + Startup</li>


		<li>
				
				<section>
					<span>0%</span>
					 
					<span>100%</span>
				</section>


		</li>
	</ul>
</section>
