<ul class="str_apps">
	<a href="http://github.com/omarhernandez/" target="_blank">  

	 <li class="apps">

	  	<img src="{{ MEDIA_URL }}img/app/email.png" alt="">
	 		<span>Email</span>
		</img>
	 </li>
	</a>



	<a href="https://twitter.com/omr_bnd" target="_blank">  

		<li class="apps">
			<img src="{{ MEDIA_URL }}img/app/twitter.png" alt="">
				<span>Twitter</span>
			</img>
		</li>
	
	</a>
	

<a href="http://github.com/omarhernandez/" target="_blank">  
	<li class="apps"><img src="{{ MEDIA_URL }}img/app/github.png" alt="">  <span>Github</span></img></li>
</a>





		<a href="http://mx.linkedin.com/pub/omar-hernandez/63/b03/bb6" target="_blank"> 
	<li class="apps"><img src="{{ MEDIA_URL }}img/app/linkedin.png" alt=""><span>LinkedIn</span></img></li>
	</a>

</ul>