 
<!doctype html>
<html class="no-js" lang="en" >
<head>
	<meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

<!-- Estupido Explorer -->
 <!–[if lt IE 9]>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js?v={{ VERSION }}"></script>
<![endif]–> 


	<title>{% block title %}  Omar Hernandez {% endblock title%}</title>

	<link rel="stylesheet" href="{{ MEDIA_URL }}css/normalize.css?v={{ VERSION }}"> 
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css?v={{ VERSION }}"> 


 

	{% block css %} {% endblock css%}

</head>
<body>


<section id="init_app"  >

<nav class="content">
	
	{% include "menu.html" %}
	
{#} CONTENIDO DINAMICO {#}
	<section class="str-data-assyc  ">
	{% block main %}


		









	{% endblock main %}

		</section>
	
{#} END CONTENIDO DINAMICO {#}






</nav>


{% include "footer.html" %}

</section>




 <script src="{{ MEDIA_URL }}js/jquery.js"></script>
 <script src="{{ MEDIA_URL }}js/modernizr.js"></script>



{% block js %} {% endblock js%}



</body>
 